<%- include('./partials/head') %>

<section class="FavoritesEmp">
  <div>
    <h1>Jouw leeslijst</h1>
    <a href="/">Terug naar <span>Home</span></a>
  </div>
  <img src="images/book.png" alt="" width="" height="" />
  <p>
    Oops! Het ziet er naar uit dat je geen item hebt toegevoegd aan je favoriete
    lijst
  </p>
  <button></button>
</section>

<%- include('./partials/foot') %>
