/* favorites */

/* leeslijst.ejs */
.favorites {
  padding: 10vh 12vw;
}

.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.favorites .title {
  width: 100%;
  margin-left: var(--extra-large);
  margin-bottom: var(--large);
}

.favorites h2 {
  text-align: center;
}

.favorites li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  justify-content: flex-end;
  margin-right: var(--large);
  margin-bottom: var(--large);
}

.gone{
  display: none !important;
}

.favorites li a:hover{
  transition: all 0.3s linear;
  transform: scale(1.1);
}

.favorites li a img {
  object-fit: cover;
  height: 24vw;
  min-height: 300px;
  width: 16vw;
  min-width: 200px;
  border-radius: var(--small);
}

.favorites li:nth-child(2) a img{
  animation: highlight 1s 3;
}

@keyframes highlight{
  0%{
    box-shadow: 0px 0px 30px 0px var(--primary-color);
  }
  50%{
    box-shadow: 0px 0px 60px 0px var(--primary-color);
  }
  100%{
    box-shadow: 0px 0px 30px 0px var(--primary-color);
  }
}

.favorites li form{
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
}

.favorites li form button{
  border: none;
  background: none;
  color: var(--text-color);
  font-size: var(--medium);
  cursor: pointer;

  & span{
    display: flex;
    align-items: center;
  }
}

.favorites li form button:hover{
  scale: 1.2;
}

.favorites li form .circular{
	width: 10%;
    height: 10%;
    position: absolute;
    inset: 0;
    left: 90%;
    top: 92%;
    display: none;
    /* margin: auto; */
    transform-origin: center center;
    animation: 2s linear 0s infinite rotate;
}

.load{
  display: block !important;
}

.favorites li form .path{
 stroke: var(--primary-color);
	stroke-dasharray:1,200;
	stroke-dashoffset:0;
	stroke-linecap:round; 
	animation:1.5s ease-in-out 0s infinite dash;
}
@keyframes dash{
	0%{
		stroke-dasharray:1,200;
		stroke-dashoffset:0;
		
	}
	50%{
		stroke-dasharray:89,200;
		stroke-dashoffset:-35px;
		stroke:#3a3b3c;
	}
	100%{
		stroke-dasharray:89,200;
		stroke-dashoffset:-124px;
	}
}
@keyframes rotate{
	to{
		transform:rotate(1turn);
	}
}


@media (width > 28em) {
  .favorites {
    justify-content: center;
  }

  .favorites li a img {
    object-fit: cover;
  }
}

/* favorites empty */

.FavoritesEmp {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  padding: 10vh 12vw;
  color: #5883ff;
}

.FavoritesEmp h1 {
  color: #5883ff;
  font-size: 2em;
}

.FavoritesEmp img {
  object-fit: cover;
  height: 24vw;
  min-height: 300px;
  width: 16vw;
  min-width: 200px;
}

.FavoritesEmp p {
  color: #5883ff;
}

@media (width > 60em) {
  .FavoritesEmp {
    display: flex;
    padding-left: var(--extra-extra-large);
    padding-top: var(--large);
    align-items: flex-start;
  }
}

.FavoritesEmp h1 {
  font-size: 4em;
  animation: emptymate 2s 1;
}

.FavoritesEmp p {
  font-size: 1em;
  text-align: left;
  max-width: 30em;
  animation: emptymate 2s 1;
  animation-delay: 2s;
  opacity: 1;
}

@keyframes emptymate {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    scale: 1.2;
  }
  40% {
    scale: 0.6;
  }
  60% {
    scale: 1.2;
  }
  80% {
    scale: 0.6;
  }
  100% {
    scale: 1.2;
    opacity: 1;
  }
}
